      @media (min-width: 992px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="4cff8c5a-a421-4087-317f-59319c6d5675"] {
          -webkit-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a713f3b9-5d65-e5e4-2927-15180e141af3"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="3986bfca-70cc-bbff-e567-a638a1f01d56"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0ff32a4d-a6ad-8506-4a35-99a9f2b2edb9"] {
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(-4deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="29e97fc0-dd70-7d58-1cb3-118775a0f807"] {
          -webkit-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="62bf2f26-fdbe-d433-4bfb-266cb308cd9e"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="ba0d11cf-e529-bb00-12ae-6c63b88eec93"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="634e1e65-2937-f4c8-bf89-b15b170053b6"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="6946e529-5e75-93b3-6ab0-d5c2de13539f"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d0cc9d3d-4be3-2749-a9f4-9ab40aa388b4"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0007"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0006"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e000e"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0011"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0008"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e2"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e1"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e9"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730ec"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e3"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9b"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9a"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa2"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa5"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9c"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7d669c01-dd8c-9ccb-aa94-7587cd5b8cac"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730df"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea98"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0004"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
      }

      @media (max-width: 991px) and (min-width: 768px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="4cff8c5a-a421-4087-317f-59319c6d5675"] {
          -webkit-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a713f3b9-5d65-e5e4-2927-15180e141af3"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="3986bfca-70cc-bbff-e567-a638a1f01d56"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0ff32a4d-a6ad-8506-4a35-99a9f2b2edb9"] {
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(-4deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="29e97fc0-dd70-7d58-1cb3-118775a0f807"] {
          -webkit-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="62bf2f26-fdbe-d433-4bfb-266cb308cd9e"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="ba0d11cf-e529-bb00-12ae-6c63b88eec93"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="634e1e65-2937-f4c8-bf89-b15b170053b6"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="6946e529-5e75-93b3-6ab0-d5c2de13539f"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d0cc9d3d-4be3-2749-a9f4-9ab40aa388b4"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0007"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0006"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e000e"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0011"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0008"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e2"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e1"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e9"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730ec"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e3"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9b"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9a"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa2"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa5"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9c"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7d669c01-dd8c-9ccb-aa94-7587cd5b8cac"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730df"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea98"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0004"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
      }

      @media (max-width: 767px) and (min-width: 480px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="4cff8c5a-a421-4087-317f-59319c6d5675"] {
          -webkit-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 22em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a713f3b9-5d65-e5e4-2927-15180e141af3"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="3986bfca-70cc-bbff-e567-a638a1f01d56"] {
          -webkit-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -moz-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          -ms-transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          transform: translate3d(0, 0em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0ff32a4d-a6ad-8506-4a35-99a9f2b2edb9"] {
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(-4deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="29e97fc0-dd70-7d58-1cb3-118775a0f807"] {
          -webkit-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="62bf2f26-fdbe-d433-4bfb-266cb308cd9e"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="ba0d11cf-e529-bb00-12ae-6c63b88eec93"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="634e1e65-2937-f4c8-bf89-b15b170053b6"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="6946e529-5e75-93b3-6ab0-d5c2de13539f"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="d0cc9d3d-4be3-2749-a9f4-9ab40aa388b4"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0007"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0006"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e000e"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0011"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0008"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e2"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e1"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e9"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730ec"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730e3"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9b"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9a"] {
          width: 3.88em;
          height: 3.88em;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa2"] {
          height: 0px;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8eaa5"] {
          opacity: 1;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea9c"] {
          opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7d669c01-dd8c-9ccb-aa94-7587cd5b8cac"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="f92207ca-2202-6235-abba-0324ebc730df"] {
          -webkit-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 13em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0aef20db-d905-3792-1316-bb63a8f8ea98"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="57f7bc3b-f426-8128-cb4e-7629df3e0004"] {
          -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 4em, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
      }

      @media (max-width: 479px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a713f3b9-5d65-e5e4-2927-15180e141af3"] {
          -webkit-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1)
            rotateX(0) rotateY(0) rotateZ(-5deg) skew(0, 0);
          -moz-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1)
            rotateX(0) rotateY(0) rotateZ(-5deg) skew(0, 0);
          -ms-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
          transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="3986bfca-70cc-bbff-e567-a638a1f01d56"] {
          -webkit-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1)
            rotateX(0) rotateY(0) rotateZ(5deg) skew(0, 0);
          -moz-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1)
            rotateX(0) rotateY(0) rotateZ(5deg) skew(0, 0);
          -ms-transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
          transform: translate3d(0vw, nullem, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(5deg) skew(0, 0);
        }

        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="0ff32a4d-a6ad-8506-4a35-99a9f2b2edb9"] {
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(-4deg) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(-4deg) skew(0, 0);
        }
      }